body {
  padding: 48px;
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #444;
  line-height: 150%;
  font-size: 22px;
}

h1 {
  margin: 0px;
  color: #47a;
  font-size: 200%;
}
h1 a {
  color: #47a;
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}
